In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

training_set = pd.read_csv('UNSW_NB15_training-set.csv')
testing_set = pd.read_csv('UNSW_NB15_testing-set.csv')

print(training_set.shape)
print(testing_set.shape)

(82332, 45)
(175341, 45)

In [2]:
frames = [training_set, testing_set]
train = pd.concat(frames)
print(train.shape)
train.head()

(257673, 45)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [3]:
binary_dict = {'Normal': 'normal',
                'Generic': 'attack',
                'Exploits': 'attack',
                'Fuzzers': 'attack',
                'DoS': 'attack',
              'Reconnaissance': 'attack',
                'Analysis': 'attack',
                'Backdoor': 'attack',
                'Shellcode': 'attack',
               'Worms': 'attack'
              }

df_train_bi = train.copy()


df_train_bi['attack_cat'] = df_train_bi['attack_cat'].apply(binary_dict.get)



print('Train data class: ',df_train_bi['attack_cat'].unique())


print('Train data dim: ',df_train_bi.shape)

Train data class:  ['normal' 'attack']
Train data dim:  (257673, 45)

In [4]:
mask = (df_train_bi.dtypes == np.object)
print(df_train_bi.loc[:,mask].head())
list_cat = df_train_bi.loc[:,mask].columns.tolist()
print(list_cat)
print(df_train_bi.loc[:,mask].values)

  proto service state attack_cat
0   udp       -   INT     normal
1   udp       -   INT     normal
2   udp       -   INT     normal
3   udp       -   INT     normal
4   udp       -   INT     normal
['proto', 'service', 'state', 'attack_cat']
[['udp' '-' 'INT' 'normal']
 ['udp' '-' 'INT' 'normal']
 ['udp' '-' 'INT' 'normal']
 ...
 ['udp' 'dns' 'INT' 'attack']
 ['udp' 'dns' 'INT' 'attack']
 ['udp' 'dns' 'INT' 'attack']]

In [5]:
mask = (df_train_bi.dtypes != np.object)
print(df_train_bi.loc[:,mask].head())
list_num = df_train_bi.loc[:,mask].columns.tolist()
print(list_num)
print(df_train_bi.loc[:,mask].values)

   id       dur  spkts  dpkts  sbytes  dbytes         rate  sttl  dttl  \
0   1  0.000011      2      0     496       0   90909.0902   254     0
1   2  0.000008      2      0    1762       0  125000.0003   254     0
2   3  0.000005      2      0    1068       0  200000.0051   254     0
3   4  0.000006      2      0     900       0  166666.6608   254     0
4   5  0.000010      2      0    2126       0  100000.0025   254     0

         sload  ...  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  \
0  180363632.0  ...                 1                 1               2
1  881000000.0  ...                 1                 1               2
2  854400000.0  ...                 1                 1               3
3  600000000.0  ...                 2                 1               3
4  850400000.0  ...                 2                 1               3

   is_ftp_login  ct_ftp_cmd  ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  \
0             0           0                 0           1           2
1             0           0                 0           1           2
2             0           0                 0           1           3
3             0           0                 0           2           3
4             0           0                 0           2           3

   is_sm_ips_ports  label
0                0      0
1                0      0
2                0      0
3                0      0
4                0      0

[5 rows x 41 columns]
['id', 'dur', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss', 'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin', 'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth', 'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm', 'ct_srv_dst', 'is_sm_ips_ports', 'label']
[[1.00000e+00 1.10000e-05 2.00000e+00 ... 2.00000e+00 0.00000e+00
  0.00000e+00]
 [2.00000e+00 8.00000e-06 2.00000e+00 ... 2.00000e+00 0.00000e+00
  0.00000e+00]
 [3.00000e+00 5.00000e-06 2.00000e+00 ... 3.00000e+00 0.00000e+00
  0.00000e+00]
 ...
 [1.75339e+05 9.00000e-06 2.00000e+00 ... 1.20000e+01 0.00000e+00
  1.00000e+00]
 [1.75340e+05 9.00000e-06 2.00000e+00 ... 3.00000e+01 0.00000e+00
  1.00000e+00]
 [1.75341e+05 9.00000e-06 2.00000e+00 ... 3.00000e+01 0.00000e+00
  1.00000e+00]]

In [6]:
df_train_bi.loc[:,mask].describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,257673.000000,257673.000000,257673.000000,257673.000000,2.576730e+05,2.576730e+05,2.576730e+05,257673.000000,257673.000000,2.576730e+05,...,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,72811.823858,1.246715,19.777144,18.514703,8.572952e+03,1.438729e+04,9.125391e+04,180.000931,84.754957,7.060869e+07,...,5.238271,4.032677,8.322964,0.012819,0.012850,0.132005,6.800045,9.121049,0.014274,0.639077
std,48929.917641,5.974305,135.947152,111.985965,1.737739e+05,1.461993e+05,1.603446e+05,102.488268,112.762131,1.857313e+08,...,8.160822,5.831515,11.120754,0.116091,0.116421,0.681854,8.396266,10.874752,0.118618,0.480269
min,1.000000,0.000000,1.000000,0.000000,2.400000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,32210.000000,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.078928e+01,62.000000,0.000000,1.231800e+04,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,64419.000000,0.004285,4.000000,2.000000,5.280000e+02,1.780000e+02,2.955665e+03,254.000000,29.000000,7.439423e+05,...,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000,1.000000
75%,110923.000000,0.685777,12.000000,10.000000,1.362000e+03,1.064000e+03,1.250000e+05,254.000000,252.000000,8.000000e+07,...,4.000000,3.000000,8.000000,0.000000,0.000000,0.000000,8.000000,11.000000,0.000000,1.000000
max,175341.000000,59.999989,10646.000000,11018.000000,1.435577e+07,1.465753e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,...,59.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000,1.000000

In [7]:
# number of occurrences for each attack category
df_train_bi.attack_cat.value_counts()

attack    164673
normal     93000
Name: attack_cat, dtype: int64

In [8]:
mask = (df_train_bi.label == 1)
print(df_train_bi.loc[mask,:].service.value_counts())
print(df_train_bi.loc[mask,:].proto.value_counts())

-           77434
dns         58100
http        17650
smtp         4695
ftp          3004
ftp-data     1890
pop3         1524
dhcp          120
snmp          108
ssl            86
irc            30
radius         17
ssh            15
Name: service, dtype: int64
udp       70682
tcp       56072
unas      15599
ospf       3169
sctp       1474
          ...
rdp         131
hmp         131
crtp        131
netblt      131
argus       131
Name: proto, Length: 129, dtype: int64

In [9]:
mask = (df_train_bi.label == 0)
print(df_train_bi.loc[mask,:].service.value_counts())
print(df_train_bi.loc[mask,:].proto.value_counts())

-           63887
dns         10561
http         9361
ftp-data     3501
smtp         2214
ftp          1976
ssh          1491
pop3            4
radius          4
snmp            1
Name: service, dtype: int64
tcp     66969
udp     22019
arp      3846
ospf      102
igmp       48
icmp       15
rtp         1
Name: proto, dtype: int64

In [10]:
Y = df_train_bi.label
X =  df_train_bi.drop(columns=['id','attack_cat','label'])
mask = (X.dtypes == np.object)
list_cat = X.loc[:,mask].columns.tolist()
list_cat

['proto', 'service', 'state']

In [11]:
X = pd.get_dummies(X, columns=list_cat)
X.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_CLO,state_CON,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no
0,0.000011,2,0,496,0,90909.0902,254,0,180363632.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,0.000008,2,0,1762,0,125000.0003,254,0,881000000.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,0.000005,2,0,1068,0,200000.0051,254,0,854400000.0,0.0,...,0,0,0,0,1,0,0,0,0,0
3,0.000006,2,0,900,0,166666.6608,254,0,600000000.0,0.0,...,0,0,0,0,1,0,0,0,0,0
4,0.000010,2,0,2126,0,100000.0025,254,0,850400000.0,0.0,...,0,0,0,0,1,0,0,0,0,0

In [12]:
Y.shape

(257673,)

In [13]:
X.shape

(257673, 196)

In [14]:
from sklearn.model_selection import train_test_split


# y = df.pop('output')
# X = df

X_train,X_test,y_train,y_test = train_test_split(X.index,Y,test_size=0.3)
X.iloc[X_train] # return dataframe train

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_CLO,state_CON,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no
67096,10.658417,4,0,2130,0,0.281468,254,0,1.199428e+03,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0
30081,0.092679,16,18,1540,1644,356.067712,31,29,1.246453e+05,1.340541e+05,...,0,0,0,1,0,0,0,0,0,0
24839,0.006491,22,24,2054,2478,6932.676192,31,29,2.416885e+06,2.927130e+06,...,0,0,0,1,0,0,0,0,0,0
69285,0.000009,2,0,90,0,111111.107200,254,0,4.000000e+07,0.000000e+00,...,0,0,0,0,0,0,1,0,0,0
41335,0.389709,6,2,998,86,17.962121,62,252,1.707941e+04,8.827099e+02,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,0.000009,2,0,200,0,111111.107200,254,0,8.888889e+07,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0
43840,0.452134,10,6,738,268,33.176004,254,252,1.176642e+04,3.963427e+03,...,0,0,0,1,0,0,0,0,0,0
67775,0.000009,2,0,200,0,111111.107200,254,0,8.888889e+07,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0
89838,0.000010,2,0,2054,0,100000.002500,254,0,8.216000e+08,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0
5397,0.000008,2,0,200,0,125000.000300,254,0,1.000000e+08,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0

In [17]:
X_train= X.iloc[X_train]
print(X_train.shape)
X_train.head()

(180371, 196)

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_CLO,state_CON,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no
67096,10.658417,4,0,2130,0,0.281468,254,0,1.199428e+03,0.000000e+00,...,0,0,0,0,1,0,0,0,0,0
30081,0.092679,16,18,1540,1644,356.067712,31,29,1.246453e+05,1.340541e+05,...,0,0,0,1,0,0,0,0,0,0
24839,0.006491,22,24,2054,2478,6932.676192,31,29,2.416885e+06,2.927130e+06,...,0,0,0,1,0,0,0,0,0,0
69285,0.000009,2,0,90,0,111111.107200,254,0,4.000000e+07,0.000000e+00,...,0,0,0,0,0,0,1,0,0,0
41335,0.389709,6,2,998,86,17.962121,62,252,1.707941e+04,8.827099e+02,...,0,1,0,0,0,0,0,0,0,0

In [18]:
X_test= X.iloc[X_test]
y_train=Y.iloc[y_train]
y_test=Y.iloc[y_test]

In [19]:
print("Training data dim: ",X_train.shape)
print("Testing data dim: ",X_test.shape)
print("Training label dim: ",y_train.shape)
print("Testing label dim: ",y_test.shape)

Training data dim:  (180371, 196)
Testing data dim:  (77302, 196)
Training label dim:  (180371,)
Testing label dim:  (77302,)

In [ ]:
#univariate feature selection with ANOVA F-test. using secondPercentile method, then RFE
#Scikit-learn exposes feature selection routines as objects that implement the transform method
#SelectPercentile: removes all but a user-specified highest scoring percentage of features
#f_classif: ANOVA F-value between label/feature for classification tasks.
from sklearn.feature_selection import SelectPercentile, f_classif
np.seterr(divide='ignore', invalid='ignore');
selector=SelectPercentile(f_classif, percentile=10)
X_newTrain = selector.fit_transform(X_train1,y_train)
X_newTrain.shape